<%- include header %>
<form method="post" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-3 control-label">用户名</label>
		<div class="col-sm-9">
  			<input type="text" class="form-control" name="name" placeholder="请输入用户名"/>
  		</div>
  	</div>
  	<div class="form-group">
		<label for="inputEmail3" class="col-sm-3 control-label">密码</label>
		<div class="col-sm-9">
  			<input type="password" name="password" class="form-control"  placeholder="请输入用户名"/>
  		</div>
  	</div>
  	<div class="form-group">
		<label for="inputEmail3" class="col-sm-3 control-label">确认密码</label>
		<div class="col-sm-9">
  			<input type="password" name="password-repeat" class="form-control"  placeholder="请输入用户名"/>
  		</div>
  	</div>
  	<div class="form-group">
		<label for="inputEmail3" class="col-sm-3 control-label">邮 箱</label>
		<div class="col-sm-9">
  			<input type="email" name="email" class="form-control"  placeholder="请输入用户名"/>
  		</div>
  	</div>
    <input type="submit" value="注册" class="btn btn-primary" style="float:right;" />
</form>
<%- include footer %>